In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [3]:
df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
# df = pd.get_dummies(df,columns=['Species'])

#### SPLITTING

In [7]:
df['Species'].replace({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2},inplace=True)

In [8]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

### CREATING INDEPENDENT AND DEPENDENT VARIABLES

In [9]:
x = df.drop(['Species','Id'],axis=1)
y = df['Species']

### SPLITING TRAINING AND TESTING DATASETS

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

### CREATING INSTANCE

In [11]:
lr = LinearRegression()

### BUILDING THE MODEL

In [12]:
lr.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred = lr.predict(x_test)

In [14]:
# TESTING EVALUATION
# mse
mse = mean_squared_error(y_test,y_pred)
print('mse is :',mse)
# rmse
rmse = np.sqrt(mse)
print('rmse is :',rmse)
# r2
r2 = r2_score(y_test,y_pred)
print('r2_score is ',r2)

mse is : 0.06221049606717892
rmse is : 0.24942032007673096
r2_score is  0.8845578423495649

In [15]:
# TRAINING EVALUATION

y_pred_train = lr.predict(x_train)

mse = mean_squared_error(y_train,y_pred_train)
print('mse is :',mse)
# rmse
rmse = np.sqrt(mse)
print('rmse is :',rmse)
# r2
r2 = r2_score(y_train,y_pred_train)
print('r2_score is ',r2)

mse is : 0.04435264340115344
rmse is : 0.21060067284116982
r2_score is  0.9357143366908294

### DUPM TO PICKLE FILE

In [16]:
import pickle
with open('LinearModelIris.pkl','wb')as f:
    pickle.dump(lr,f)

In [17]:
x.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [18]:
Project_data = {'columns':list(x.columns)}

In [19]:
Project_data = {'Species':{0:'Iris-setosa', 1:'Iris-versicolor', 2:'Iris-virginica'},'columns':list(x.columns)}

In [20]:
import json
with open('Project_data.json','w')as f:
    json.dump(Project_data,f)

In [21]:
x.head(1).T

                 0
SepalLengthCm  5.1
SepalWidthCm   3.5
PetalLengthCm  1.4
PetalWidthCm   0.2

In [22]:
# #   a=int(self.model.predict([test_array]))
# Project_data['Species'][1]